@import "tailwindcss";

 @theme {
  --color-green-primery: #a4de02;
  --color-orange: #ffa500;
  --color-green-secondry: #32cd32;
  --color-gray-lightness: #ebebeb;
  --color-bg: #F9FFF3;
  --color-green-lightness : #E2FF8C;
  --shadow-green-primery : 0 0 0 10px 20px;
}

body{
    @apply bg-bg
    px-12 py-5
}