@import "tailwindcss";


@font-face {
  font-family: "lalezar";
  src: url("/src/assets/fonts/Lalezar-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "dirooz";
  src: url("/src/assets/fonts/Dirooz.ttf") format("truetype");
}



@theme {
  --color-green-primery: #a4de02;
  --color-orange: #ffa500;
  --color-green-secondry: #32cd32;
  --color-gray-lightness: #ebebeb;
  --color-bg: #f9fff3;
  --color-green-lightness: #e2ff8c;
  --shadow-green-primery: 0 0 0 10px 20px;
  --font-lalezar :"lalezar" , sans-serif;
  --font-dirooz :"dirooz" , sans-serif;
}

@layer base{
  body{
    font-family: var(--font-dirooz);
  }
}

@keyframes wiggle {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-custom::-webkit-scrollbar {
    background-color: transparent;
    height: 0.5rem;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #e5e5e5;
    width: 10rem;
    border-radius: 1rem;
    margin-left: 25rem;
    margin-right: 25rem;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: var(--color-orange);
    border-radius: 10px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #e07c00;
  }
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgb(231, 231, 231);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-green-secondry);
    border-radius: 1rem;
  }
  .font-lalezar {
    font-family: var(--font-lalezar);
  }
  .font-dirooz{
    font-family: var(--font-dirooz)
  }
}


/* استایل برای body */
body {
  @apply bg-bg px-12 py-5;
}

@media screen and (max-width: 1200px) {
  .scrollbar-custom::-webkit-scrollbar-track {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media screen and (max-width: 800px) {
  body {
    padding: 0.5rem;
  }
}

/* ساخت کلاس انیمیشن */
@utility animate-wiggle {
  animation: wiggle 1s ease-in-out;
}

.services:hover h5 {
  font-weight: bolder;
}
.services:hover .icon-container {
  background-color: var(--color-green-secondry);
}

.input:focus + label,
.input:not(:placeholder-shown) + label {
  top: 4.3rem;
  color: #505050;
  background-color: var(--color-bg);
}


