@import "tailwindcss";

@theme {
  --color-green-primery: #a4de02;
  --color-orange: #ffa500;
  --color-green-secondry: #32cd32;
  --color-gray-lightness: #ebebeb;
  --color-bg: #f9fff3;
  --color-green-lightness: #e2ff8c;
  --shadow-green-primery: 0 0 0 10px 20px;

  @keyframes wiggle {
    0% {
      opacity: 0;
      transform: translateY(-2rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

}
@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {

    background-color: transparent;
    height: 0.5rem;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #e5e5e5;
    width: 10rem;
    border-radius: 1rem;
    margin-left: 15rem;
    margin-right: 15rem;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: var(--color-orange);
    border-radius: 10px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #e07c00;
  }
  ::-webkit-scrollbar{
    background-color: transparent;
    width: 0.4rem;
  }
  ::-webkit-scrollbar-track{
    background-color: rgb(231, 231, 231);
  }
  ::-webkit-scrollbar-thumb{
    background-color: var(--color-green-secondry);
    border-radius: 1rem
  }
}
/* استایل برای body */
body {
  @apply bg-bg px-12 py-5;
}

@media screen and (max-width: 500px) {
  body {
    padding: 0.5rem;
  }
}

/* ساخت کلاس انیمیشن */
@utility animate-wiggle {
  animation: wiggle 1s ease-in-out;
}

.services:hover h5{
  font-weight: bolder;
}
.services:hover .icon-container{
  background-color: var(--color-green-secondry);

}

